/*_ MODULES ____________________________________________________________________________________________________________
    
    grid

    Table fixed grid similar to http://mdo.github.io/table-grid/ */

//_ CONFIGURATION ______________________________________________________________________________________________________

//  property                            value                                   !default;


//_ DEFINITION _________________________________________________________________________________________________________

    .g {
        display: table;
        width: 100%;
        table-layout: fixed;

        &-u {
            display: table-cell;
            vertical-align: top;
        }
    }

//_ VARIATIONS _________________________________________________________________________________________________________

/*  Variations descriptions */

    .g\[pad\] {

        border-spacing: 1rem 0;
    }