/*_ MODULES ____________________________________________________________________________________________________________
    
    grid

    Table fixed grid similar to http://mdo.github.io/table-grid/ */

//_ CONFIGURATION ______________________________________________________________________________________________________

//  property                            value                                   !default;


//_ DEFINITION _________________________________________________________________________________________________________

    .g {
        display: table;
        width: 100%;
        table-layout: fixed;
        border-spacing: 0;

        &-u {
            display: table-cell;
            vertical-align: top;
            position: relative;
        }
    }

    .gi {
        font-size: 0;

        &-u {
            font-size: 1rem;
            vertical-align: top;
            display: inline-block;
            position: relative;
        }
    }

//_ VARIATIONS _________________________________________________________________________________________________________

/*  Variations descriptions */

    .g\[pad\] {
        border-spacing: 1rem 0;
    }

    .gi\[pad\] {

        padding: 0 0.5rem;

       .gi-u {
            padding: 0 0.5rem 1rem;
       }
    }

    .g\[bleed\] {
        margin: 0 -1rem; 
    }

    .gi\[bleed\] {
        margin: 0 -1rem; 
    }    