/*_ DEFAULTS ___________________________________________________________________________________________________________
    
    Overrides normalize

*/
//_ CONFIGURATION ______________________________________________________________________________________________________

    $body-background-color:                     #f5f5f5                                 !default;
    
    $color-primary:                             #FF6644                                 !default;
    $color-primary-dark:                        #f4d100                                 !default;
    $color-primary-darker:                      darken($color-primary, 20%)             !default;

    $color-primary-contrast:                    #262b38                                 !default;

    $color-secondary:                           #854785                                 !default;

    $color-success:                             #43a742                                 !default;
    $color-warning:                             #fc0                                    !default;    
    $color-error:                               rgba(255, 77, 0, 0.92)                  !default;

    $color-hint:                                #5fabf1                                 !default;
    $color-hint-light:                          rgba(95, 171, 241, 0.5)                 !default;
    $color-hint-lighter:                        rgba(95, 171, 241, 0.1)                 !default;

//_ DEFINITION _________________________________________________________________________________________________________

    *, *:before, *:after {
      -webkit-box-sizing: border-box; 
         -moz-box-sizing: border-box; 
              box-sizing: border-box;
    }

/*  reset-boundaries
    Resets bold styles and browser opinion on line height */

    %reset-boundaries {
        padding: 0;
        margin: 0;
        font-weight: normal;                 
        line-height: 1;                      
    }

    a {
        text-decoration: none;
    }

    a:focus {
        outline: 0;
    }

    html {
        font-size: 100%;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    body {
        background-color: $body-background-color;
        padding-bottom: 6rem;
    }

    h1,h2,h3,h4,h5,h6 {
        display: inline-block;
    }

    ul, ol, li, button,h1,h2,h3,h4,h5,h6,p,input {
        @extend %reset-boundaries;
    }

    ul {
        list-style: none;
    }

    a {
        color: inherit;
    }

//  Responsive images by default

    img {
        max-width: 100%;
        height: auto;
        display: block
    }

    i {
        font-style: normal;
    }
