//  Badges

$badges-font-size:                          0.9rem;
$badges-border-radius:                      0.5rem;
$badges-background:                         $color-primary;
$badges-padding:                            0.5rem;
$badges-color:                              $type-color-primary;