//  Card

    $card-padding:                              1rem;
    $card-background-color:                     #FFF;
    $card-box-shadow:                           0 1px 1px 0px rgba(0, 0, 0, 0.1);

    $card-margin:                               0;
    $card-border-width:                         0;
    $card-border-style:                         none;