//  Option Group

    $optionGroup-background:                    #FFFFFF;
    $optionGroup-selected-background:           $color-hint;
    $optionGroup-selected-color:                #FFF;
    $optionGroup-hover-background:              $color-hint-lighter;

    $optionGroup-border-width:                  1px;
    $optionGroup-border-color:                  #ccc;
    $optionGroup-border-style:                  solid;

    $optionGroup-radio-hack:                    true;