//  Select

    $select-font-size:                          $input-text-font-size;
    $select-color:                              $input-text-color;
    $select-padding:                            $input-text-padding;
    $select-border-width:                       $input-text-border-width;
    $select-border-color:                       $input-text-border-color;
    $select-border-style:                       $input-text-border-style;
    $select-border-radius:                      $input-text-border-radius;
    $select-height:                             $input-text-height;
    $select-background:                         $input-text-background;
    $select-focus-outline:                      $input-focus-outline;

    $select-disabled-color:                     $input-disabled-color;
    $select-disabled-background:                $input-disabled-background;
    $select-disabled-border:                    $input-disabled-border;