//  Switch

    $switch-background:                         $color-primary-lighter;
    $switch-border:                             1px solid #ddd;
    $switch-border-radius:                      1rem;

    $switch-active-background:                  #99cc66;
    $switch-active-border:                      1px solid darken(#99cc66, 10);