//  Tooltip

    $tooltip-background:                        $color-hint;
    $tooltip-color:                             #FFF;
    $tooltip-box-shadow:                        0 2px 10px 0px rgba(0, 0, 0, 0.1);
    $tooltip-padding:                           1rem;
    $tooltip-border-radius:                     $border-radius;
