/*_ UNITS ______________________________________________________________________________________________________________
    
    Table

    Common Mobile First table patterns  */

//_ CONFIGURATION ______________________________________________________________________________________________________

//_ DEFINITION _________________________________________________________________________________________________________

    .table {

        border-collapse: collapse; 
        width: 100%;

        &-tr {

        }

        &-th {
            text-align: left;
            padding: 0.5rem;
            vertical-align: middle;
            font-weight: 600;
        }

        &-td {
            text-align: left;
            padding: 0.5rem;
            vertical-align: middle;
            height: 3.2rem;
            border-top: 1px solid rgba(0,0,0,0.05);
        }

        &-ov {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }

//_ VARIATIONS _________________________________________________________________________________________________________

/*  table--inline:      borderless as an inline element
    table--fixed:       fixed structural table
*/
    .table {

        &--inline {
            .table-th {
                padding: 0;
            }

            .table-td {
                border: 0;
                height: auto;
                padding: 0;
            }
        }

        &--fixed {
            table-layout: fixed;
        }
    }