/*_ UNITS ______________________________________________________________________________________________________________

    Select

    Common select patterns */

//_ CONFIGURATION ______________________________________________________________________________________________________

    $select-border:                             1px solid rgba(0, 0, 0, 0.1)            !default;
    $select-padding:                            0.5rem                                  !default;
    $select-border-radius:                      0                                       !default;
    $select-background:                         #FFFFFF                                 !default;
    $select-color:                              $color-primary-contrast                 !default;

//_ DEFINITION _________________________________________________________________________________________________________

.select {

    vertical-align: top;
    line-height:    $input-padding * 2.22;

    padding:        $select-padding;
    border:         $select-border;
    outline:        none;
    border-radius:  $select-border-radius;
    background:     $select-background;
    color:          $select-color;
    display: inline-block;
    width: 100%;
    height: 2.5rem;
    font-size: 1rem;

    &:focus {
        outline: 1px solid $color-hint-light;
        outline-offset: -1px;
    }
}

//_ VARIATIONS _________________________________________________________________________________________________________

/*  select--full:   full width select */

    .select {
        &--full {
            display: block;
            width: 100%;
        }
    }