/*_ UNITS ______________________________________________________________________________________________________________

    Card

    Material Design alike card */

//_ CONFIGURATION ______________________________________________________________________________________________________

    // $card-background-color
    // $card-box-shadow
    // $card-margin
    // $card-border-width
    // $card-border-style

//_ DEFINITION _________________________________________________________________________________________________________

    .card {

        display: inline-block;

        padding: $card-padding;
        background:     $card-background-color;
        box-shadow:     $card-box-shadow;
        margin:         $card-margin;
        border-width:   $card-border-width;
        border-style:   $card-border-style;
        cursor:         pointer;
        transition:     all 200ms ease-out;

        &:hover {
            transform: translateY(-8px);
        }

    }

//_ VARIATIONS _________________________________________________________________________________________________________

/*  Variations descriptions */