/*_ UNITS ______________________________________________________________________________________________________________
    
    Card

    Material Design alike card */

//_ CONFIGURATION ______________________________________________________________________________________________________

    $card-background-color:                     #FFF                                    !default;
    $card-box-shadow:                           0 1px 4px 0px               
                                                rgba(0, 0, 0, 0.2)                      !default;
    $card-margin:                               0.5rem 0.5rem 0                         !default;
    $card-border-width:                         0                                       !default;
    $card-border-style:                         none                                    !default;
             
    

//_ DEFINITION _________________________________________________________________________________________________________

    .card {
        background:     $card-background-color;
        box-shadow:     $card-box-shadow;
        margin:         $card-margin;
        border-width:   $card-border-width;
        border-style:   $card-border-style;
        cursor:         pointer;
        transition:     all 200ms ease-out;

        &:hover {
            transform: translateY(-8px);
        }

    }

//_ VARIATIONS _________________________________________________________________________________________________________

/*  Variations descriptions */