/*_ MODULES ____________________________________________________________________________________________________________
    
    steps

    moduleDescription */

//_ CONFIGURATION ______________________________________________________________________________________________________

//  property                                    value                                   !default;


//_ DEFINITION _________________________________________________________________________________________________________

    .steps {

        display: table;
        width: 100%;
        table-layout: fixed;
        background: #fff;
        min-height: 5rem;
        border-radius: 2px;
        border-spacing: 0;
        overflow: hidden;
        counter-reset: steps;

      &-item {
            display: table-cell;
            text-align: center;
            color:#AAA;
            vertical-align: middle;
          
            &::before {
              counter-increment: steps;
              content: counter(steps) ".";
              margin-right: 5px;
            }

            &:hover {
                background: $color-hint-light;
            }
        }

        &-item--active {
            background: $color-hint;
            color:#FFF;

        }

    }

//_ VARIATIONS _________________________________________________________________________________________________________

/*  Variations descriptions */
