/*_ MODULES ____________________________________________________________________________________________________________
    
    steps

    moduleDescription */

//_ CONFIGURATION ______________________________________________________________________________________________________

//  property                                    value                                   !default;


//_ DEFINITION _________________________________________________________________________________________________________

    .steps {

        display: flex;
        background: #fff;
        min-height: 5rem;
        border-radius: 2px;
        border-spacing: 0;
        overflow: hidden;
        counter-reset: steps;


      &-item {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        color:#AAA;
        vertical-align: middle;

            &:hover {
                background: $color-hint-light;
            }
        }

        &-item--active {
            background: $color-hint;
            color:#FFF;

        }

    }

//_ VARIATIONS _________________________________________________________________________________________________________

/*  Variations descriptions */
