/*_ MODULES ____________________________________________________________________________________________________________
    
    steps

    moduleDescription */

//_ CONFIGURATION ______________________________________________________________________________________________________

//  property                                    value                                   !default;


//_ DEFINITION _________________________________________________________________________________________________________

    .steps {

        display: table;
        width: 100%;
        table-layout: fixed;
        
        &-item {
            display: table-cell;
            cursor: pointer;
            text-align: center;
            border-width: 1px 0 1px 1px;
            border-style: solid;
            border-color: rgba(0,0,0,0.1);
            position: relative;
            background: #f0f0f0;
            height: 40px;
            vertical-align: middle;

            &:before {
                content: "";
                border-width: 1px 1px 0 0;
                position: absolute;
                right: -14px;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                height: 28px;
                width: 28px;
                top: 5px;
                border-style: solid;
                background: linear-gradient(45deg, rgba(255,255,255,0) 0%, #f0f0f0 13px);
                border-color: rgba(0,0,0,0.1);
                z-index: 1;
            }

            &:hover {
                background: lighten($color-primary, 40);
                //width: 10rem;

                &:before {
                    background: linear-gradient(45deg, rgba(255,255,255,0) 0%, lighten($color-primary, 40) 13px);
                }
            }

            &:first-child {
                border-radius: 3px 0 0 3px;
            }

            &:last-child {

                border-width:1px 1px 1px 0;
                border-radius: 0 3px 3px 0;

                &:before {
                    display: none;
                }
            }

        }

        &-itemValue {
            display: inline-block;
        }

        &-item--active {
            //width: 10rem;
            background: lighten($color-primary, 30);

            &:before {
                background: inherit;
            }
        }

    }

//_ VARIATIONS _________________________________________________________________________________________________________

/*  Variations descriptions */
