/*_ UNITS ______________________________________________________________________________________________________________

    Label

    Common label patterns */

//_ CONFIGURATION ______________________________________________________________________________________________________

    // $label-padding
    // $label-border-width
    // $label-border-color
    // $label-border-style

    // $config-mark-optional-labels (boolean) Shows optional label on theme

    //$label-not-required-after-content
    //$label-not-required-after-color
    //$label-not-required-after-font-style
    //$label-not-required-after-font-weight
    //$label-not-required-after-margin

//_ DEFINITION _________________________________________________________________________________________________________

.label {
    border: 0;
    padding: $label-padding;
    border-width: $label-border-width;
    border-color: $label-border-color;
    border-style: $label-border-style;
    position: relative;
    @extend %type-ui;

    @if $config-mark-optional-labels {
        &:not([required]):after {
            display: inline-block;
            content: $label-not-required-after-content;
            color: $label-not-required-after-color;
            font-style: $label-not-required-after-font-style;
            font-weight: $label-not-required-after-font-weight;
            margin: $label-not-required-after-margin;
        }
    }
}

//_ VARIATIONS _________________________________________________________________________________________________________