/*_ UNITS ______________________________________________________________________________________________________________
    
    Form

    Form wrapper to align elements and modify their behaviour, mainly input and 
    label  */

//_ CONFIGURATION ______________________________________________________________________________________________________

//    $form-label-optional-color
//    $form-label-optional-font-style
//    $form-label-optional-font-weight
//    $form-label-optional-margin
//
//    $form-section-background
//    $form-section-border-radius
//    $form-section-border

//_ DEFINITION _________________________________________________________________________________________________________

    .form {

        &-group {
            margin-bottom: 0.5rem;
            position: relative;
            @extend %cf;

            .label {
                display: block;
                color: #565656;

                &[for]:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }

            .label-optional {
                display: inline-block;

                color:        $form-label-optional-color;
                font-weight:  $form-label-optional-font-weight;
                font-style:   $form-label-optional-font-style;
                margin:       $form-label-optional-margin;
            }

        }

        &-combo {
            font-size: 0;
        }

        &-section {
            padding: 1rem;

            background:     $form-section-background;
            border-radius:  $form-section-border-radius;
            border:         $form-section-border;

            @extend %cf;
        }

    }

//_ VARIATIONS _________________________________________________________________________________________________________

/*  form--inline:   throws label into inline-block behaviour 
    #TODO input behaviour */

    .form {

        &--inline {
            .label {
                display: inline-block;
            }            
        }
    }

//  ANGULAR SPECIFIC ___________________________________________________________________________________________________

    .ng-invalid-pattern.ng-dirty,
    .ng-invalid-email.ng-dirty,
    .ng-invalid-minlength.ng-dirty,
    .ng-invalid-maxlength.ng-dirty {

        &[type="text"], 
        &[type="email"],
        &[type="date"],
        &[type="password"],
        &[type="phone"]
         {
            // background: url("../img/icon_invalid.svg") 99% center no-repeat;
            // background-size: 2rem 2rem;
            // background-color: #FEE;
            // border: 1px solid rgba(253, 224, 129, 0.5);
            border-bottom:2px solid $color-error;
        }
    }