/*_ UNITS ______________________________________________________________________
    
    alert

    inline notification */

//_ CONFIGURATION ______________________________________________________________

//  property                                 value                     !default;

    

//_ DEFINITION _________________________________________________________________

    .alert {
        padding: 1rem;
        border: 1px solid rgba(0,0,0,0.1);

        &--success {
            color: #FFF;
            background: $color-success;
        }

        &--warning {
            color: #FFF;
            background: $color-warning;
        }

        &--error {
            color: #FFF;
            background: $color-error;
        }
    }

//_ VARIATIONS _________________________________________________________________
