/*_ UNITS ______________________________________________________________________________________________________________
    
    Nav

    Navigation abstraction as in bootstrap */

//_ CONFIGURATION ______________________________________________________________________________________________________


//_ DEFINITION _________________________________________________________________________________________________________

    .nav {
        border: 0;
        &-item {
            display: block;
        }
    }


//_ VARIATIONS _________________________________________________________________________________________________________

/*  nav--horizontal:    Throws nav on inline block mode */

    .nav {

        &--horizontal {
            .nav-item {
                display: inline-block;
            }

        }
    }