/*_ MODULES ____________________________________________________________________________________________________________

    tabContainer

    Wraps the tab navigation into a container */

//_ CONFIGURATION ______________________________________________________________________________________________________

    //$tab-container-background-color:          inear-gradient(to top, rgba(0, 0, 0, 0.05) -50%, transparent 50%)      !default;
    $tab-container-background-color:            #EEE                                    !default;

//_ DEFINITION _________________________________________________________________________________________________________

    .tabContainer {
        background: $tab-container-background-color;
        box-shadow: 0 50px 100px 0px #FFF;
        border-bottom: 1px solid #DDD;
        padding-top: 0.5rem;
    }

//_ VARIATIONS _________________________________________________________________________________________________________

/*  Variations descriptions */
