/*_ THEMES _____________________________________________________________________________________________________________

    Prototype

    base theme of the framework, change as you wish */

//_ CONFIGURATION ______________________________________________________________________________________________________

//  Defaults

    $body-background-color:                     #f2f2f2;

    $color-primary:                             #CCC;
    $color-primary-dark:                        #999;
    $color-primary-darker:                      #666;
    $color-primary-light:                       #DDD;
    $color-primary-lighter:                     #EEE;

    $color-primary-contrast:                    #262b38;

    $color-secondary:                           #854785;

    $color-success:                             $color-primary;
    $color-warning:                             $color-primary;
    $color-error:                               $color-primary;

    $color-hint:                                #5fabf1;
    $color-hint-light:                          rgba(95, 171, 241, 0.5);
    $color-hint-lighter:                        rgba(95, 171, 241, 0.1);

    $color-thin-shadow:                         rgba(0,0,0,0.1);


//  Type

    @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
    @import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
    @import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

    $type-family-primary:                       "Source Sans Pro";
    $type-family-secondary:                     "Roboto Slab";
    $type-display2-size:                        2.8rem;
    $type-display1-size:                        1.999rem;
    $type-title-size:                           1rem;
    $type-subtitle-size:                        1rem;
    $type-body-size:                            1rem;
    $type-ui-size:                              0.9rem;
    $type-data-size:                            0.9rem;

    $type-headline-size:                        1.3rem;
    $type-subheadline-size:                     1rem;

    $type-paragraph-lineheight:                 1.414rem;

    $type-color-primary:                        #232323;
    $type-color-secondary:                      #767676;
    $type-color-thirdary:                       #999;
    $type-color-inverse:                        #f0f0f0;

    $type-highlight-color:                      $color-primary;

    $type-data-color:                           $type-color-secondary;

//  Alert

    $alert-padding:                             1rem;
    $alert-border:                              1px solid $color-thin-shadow;
    $alert-color:                               $color-primary;

    $alert--success-color:                      $type-color-primary;
    $color--success-background:                 $color-success;

    $alert--warning-color:                      $type-color-primary;
    $color--warning-background:                 $color-warning;

    $alert--error-color:                        $type-color-primary;
    $color--error-background:                   $color-error;

//  Anchor

    $a--hint-font-weight:                       bold;
    $a--hint-hover-text-decoration:             underline;

//  Badges

    $badges-font-size:                          0.9rem;
    $badges-boder-radius:                       0.5rem;
    $badges-background:                         $color-primary;
    $badges-padding:                            0.5rem;
    $badges-color:                              $type-color-primary;

//  Button

    $button-border:                             0;
    $button-padding:                            1rem 1rem;
    $button-border-radius:                      0;
    $button-text-transform:                     uppercase;
    $button-background:                         no-repeat center center $color-primary;
    $button-hover-background:                   $color-primary-light;
    $button-color:                              $color-primary-darker;
    $button-font-weight:                        bold;

    $button--flat-border-style:                 solid;
    $button--flat-border-width:                 1px;
    $button--flat-border-color:                 $color-primary-dark;
    $button--flat-background:                   transparent;
    $button--flat-color:                        $color-primary-darker;
    $button--flat-padding:                      0.6rem 1rem;

//  Card

    $card-padding:                              1rem;
    $card-background-color:                     #FFF;
    $card-box-shadow:                           0 1px 4px 0px rgba(0, 0, 0, 0.2);
    $card-margin:                               0.5rem 0.5rem 0;
    $card-border-width:                         0;
    $card-border-style:                         none;



//  Offcanvas

    $offcanvas-offset:                          18rem;
    $offcanvas-transition:                      300ms all;

    $offcanvas-menu-background-color:           $color-primary;

    $offcanvas-menu-item-color:                 #36273a;
    $offcanvas-menu-item-text-decoration:       none;
    $offcanvas-menu-item-padding:               1rem;
    $offcanvas-menu-item-box-shadow:            0 1px 0 0 rgba(0, 0, 0, 0.1);

    $offcanvas-content-padding:                 0rem;
    $offcanvas-content-background-color:        $body-background-color;
    $offcanvas-content-box-shadow:              0 0 5px 0 rgba(0,0,0,0.4);

    $offcanvas-topbar-background-color:         transparent;
    $offcanvas-topbar-color:                    #FFF;
    $offcanvas-topbar-border-radius:            0;
    $offcanvas-topbar-min-height:               0;
    $offcanvas-topbar-padding:                  0.5rem;
    $offcanvas-topbar-fullwidth:                false;

//  Figure - Configuration

    $figure-offset:                             18rem;
    $figure-transition:                         300ms all;

    $figure-caption-inside-background:          linear-gradient
                                                (
                                                    5deg,
                                                    rgba(0, 0, 0, 0.3) 0%,
                                                    rgba(0, 0, 0, 0) 100%
                                                );

    $figure-caption-inside-color:               #FFF;
    $figure-caption-inside-padding:             0.5rem;
    $figure-image--round-diameter:              6rem;

//  Card:   ;

    $card-background-color:                     #FFF;
    $card-box-shadow:                           0 1px 1px 0px rgba(0, 0, 0, 0.1);

    $card-margin:                               0;
    $card-border-width:                         0;
    $card-border-style:                         none;

//  Select:     ;

    $select-border:                             1px solid rgba(0, 0, 0, 0.1);
    $select-padding:                            0.5rem;
    $select-border-radius:                      0;
    $select-text-transform:                     uppercase;
    $select-background:                         #FFF;
    $select-color:                              #666;

//  Label

    $config-mark-optional-labels:               true;

    $label-padding:                             0.6rem 0;
    $label-border-width:                        0;
    $label-border-color:                        transparent;
    $label-border-style:                        none;

//  Form

    $form-label-optional-color:                 $type-color-thirdary;
    $form-label-optional-font-style:            italic;
    $form-label-optional-font-weight:           bold;
    $form-label-optional-margin:                0 0 0 0.5rem;


//  Option Group

    $optionGroup-color:                         #FFFFFF;
    $optionGroup-color-hint:                    $color-hint;
    $optionGroup-color-hint-lighter:            $color-hint-lighter;

    $optionGroup-border-width:                  1px;
    $optionGroup-border-color:                  $color-primary-light;

// Pagination

    $pagination-background-color:               rgba(0, 0, 0, 0.03);
    $pagination-background-image:               linear-gradient(to bottom, rgba(0, 0, 0, 0.1) -60%, transparent 20%);
    $pagination-border-top-color:               #FFF;
    $pagination-color:                          inherit;

    $pagination-page-active-background:         rgba($color-primary, 0.5);
    $pagination-page-active-color:              inherit;
    $pagination-page-active-weight:             bold;

//  Input


    $input-text-font-size:                      1rem;
    $input-text-color:                          inherit;
    $input-text-padding:                        $input-text-font-size*0.6;
    $input-text-border-width:                   1px;
    $input-text-border-color:                   rgba(0,0,0,0.1);
    $input-text-border-style:                   solid;
    $input-text-border-radius:                  0;
    $input-text-height:                         strip-unit($input-text-font-size)*strip-unit($input-text-padding)*(5)+rem;
    $input-text-background:                     #FFF;
    $input-focus-outline:                       1px solid $color-hint-light;


//  Select

    $select-font-size:                          $input-text-font-size;
    $select-color:                              $input-text-color;
    $select-padding:                            $input-text-padding;
    $select-border-width:                       $input-text-border-width;
    $select-border-color:                       $input-text-border-color;
    $select-border-style:                       $input-text-border-style;
    $select-border-radius:                      $input-text-border-radius;
    $select-height:                             $input-text-height;
    $select-background:                         $input-text-background;
    $select-focus-outline:                      $input-focus-outline;
