/*_ THEMES _____________________________________________________________________________________________________________

    Prototype

    base theme of the framework, change as you wish */

//_ CONFIGURATION ______________________________________________________________________________________________________

//  Defaults

    $body-background-color:                     #f9f9f9;

    $color-primary:                             #475059;
    $color-primary-dark:                        #f4d100;
    $color-primary-darker:                      #5E5000;

    $color-primary-contrast:                    #262b38;

    $color-secondary:                           #854785;

    $color-success:                             #66d1b5;
    $color-warning:                             #efad10;
    $color-error:                               #eb5a49;

    $color-hint:                                #5fabf1;
    $color-hint-light:                          rgba(95, 171, 241, 0.5);
    $color-hint-lighter:                        rgba(95, 171, 241, 0.1);

    $color-thin-shadow:                         rgba(0,0,0,0.1);


//  Type

    $type-family-primary:                       "Source Sans Pro";
    $type-family-secondary:                     "Roboto Slab";
    $type-display2-size:                        2.8rem;
    $type-display1-size:                        1.999rem;
    $type-title-size:                           1rem;
    $type-subtitle-size:                        1rem;
    $type-body-size:                            1rem;
    $type-data-size:                            0.9rem;

    $type-headline-size:                        1.3rem;
    $type-subheadline-size:                     1rem;

    $type-paragraph-lineheight:                 1.414rem;

    $type-color-primary:                        #232323;
    $type-color-secondary:                      #767676;

    $type-color-inverse:                        #f0f0f0;

    $type-data-color:                           $type-color-secondary;


//_ Units ______________________________________________________________________________________________________________


//  Alert

    $alert-padding:                             1rem;
    $alert-border:                              1px solid $color-thin-shadow;
    $alert-color:                               $color-primary;

//  Badges

    $badges-boder-radius:                       0.5rem;
    $badges-background:                         $color-secondary;
    $badges-padding:                            0.5rem 1rem 1rem;
    $badges-color:                              $type-color-inverse;

//  Button

    $button-border:                             0;
    $button-padding:                            0.5rem 1rem;
    $button-border-radius:                      0;
    $button-text-transform:                     uppercase;
    $button-background:                         #f9d606;
    $button-hover-background:                   #FFEB73;
    $button-color:                              $color-primary-darker;
    $button-font-weight:                        bold;

    $button--flat-border-style:                 solid;
    $button--flat-border-width:                 1px;
    $button--flat-border-color:                 $color-primary-dark;
    $button--flat-background:                   transparent;
    $button--flat-color:                        $color-primary-darker;
    $button--flat-padding:                      0.6rem 1rem;

//  Input outline-offset:   ;

    $input-padding:                             0.6rem;
    $input-text-border-width:                   1px;
    $input-text-border-color:                   rgba(0,0,0,0.1);
    $input-text-border-style:                   solid;
    $input-text-border-radius:                  0;

//  Offcanvas

    $offcanvas-offset:                          18rem;
    $offcanvas-transition:                      300ms all;

    $offcanvas-menu-background-color:           $color-primary;

    $offcanvas-menu-item-color:                 #36273a;
    $offcanvas-menu-item-text-decoration:       none;
    $offcanvas-menu-item-padding:               1rem;
    $offcanvas-menu-item-box-shadow:            0 1px 0 0 rgba(0, 0, 0, 0.1);

    $offcanvas-content-padding:                 0rem;
    $offcanvas-content-background-color:        $body-background-color;
    $offcanvas-content-box-shadow:              0 0 5px 0 rgba(0,0,0,0.4);

    $offcanvas-topbar-background-color:         transparent;
    $offcanvas-topbar-color:                    #FFF;
    $offcanvas-topbar-border-radius:            0;
    $offcanvas-topbar-min-height:               0;
    $offcanvas-topbar-padding:                  0.5rem;
    $offcanvas-topbar-fullwidth:                false;

//  Figure - Configuration

    $figure-offset:                             18rem;
    $figure-transition:                         300ms all;

    $figure-caption-inside-background:          linear-gradient
                                                (
                                                    5deg,
                                                    rgba(0, 0, 0, 0.3) 0%,
                                                    rgba(0, 0, 0, 0) 100%
                                                );

    $figure-caption-inside-color:               #FFF;
    $figure-caption-inside-padding:             0.5rem;
    $figure-image--round-diameter:              6rem;

//  Card:   ;

    $card-background-color:                     #FFF;
    $card-box-shadow:                           0 1px 1px 0px rgba(0, 0, 0, 0.1);

    $card-margin:                               0;
    $card-border-width:                         0;
    $card-border-style:                         none;

//  Select:     ;

    $select-border:                             1px solid rgba(0, 0, 0, 0.1);
    $select-padding:                            0.5rem;
    $select-border-radius:                      0;
    $select-text-transform:                     uppercase;
    $select-background:                         #FFF;
    $select-color:                              #666;

//  Label outline-offset:   ;

    $label-padding:                             0.6rem 0;
    $label-border-width:                        0;
    $label-border-color:                        transparent;
    $label-border-style:                        none;