/*_ UNITS ______________________________________________________________________________________________________________

    Input

    By default this is a material design like input, only bottom borders
    are shown */

//_ CONFIGURATION ______________________________________________________________________________________________________

    // $input-padding
    // $input-text-border-width
    // $input-text-border-color
    // $input-text-border-style
    // $input-text-border-radius


//_ DEFINITION _________________________________________________________________________________________________________

.input {

    width: 100%;

    &:focus {
        outline: $input-focus-outline;
        outline-offset: -1px;
    }

    &[type="text"],
    &[type="search"],
    &[type="email"],
    &[type="date"],
    &[type="password"],
    &[type="phone"]
     {
        padding:        $input-padding;
        border-width:   $input-text-border-width;
        border-color:   $input-text-border-color;
        border-style:   $input-text-border-style;
        border-radius:  $input-text-border-radius;

        box-sizing: border-box;
    }

    &[type="radio"] {
        display: inline-block;
        width: 1.2rem;
        height: 1.2rem;
        vertical-align: middle;
        margin-right: 0.5rem;
        box-shadow: none;
    }

    &[type="checkbox"] {
        display: inline-block;
        width: 1rem;
        height: 1rem;
        vertical-align: middle;
        top: 0.1rem;
        position: relative;
        float: left;
        margin-right: 0.5rem;
    }

    &[readonly], &[disabled] {
        color: #CCC;
        background: #fcfcfc !important;
        border: 1px solid #eee !important;
    }

}

//_ VARIATIONS _________________________________________________________________________________________________________
