/*_ UNITS ______________________________________________________________________________________________________________

    Input

    By default this is a material design like input, only bottom borders
    are shown */

//_ CONFIGURATION ______________________________________________________________________________________________________


//_ DEFINITION _________________________________________________________________________________________________________


.input {
    width: 100%;

    &:focus {
        outline: $input-focus-outline;
        outline-offset: -1px;
    }

    &[type="text"],
    &[type="password"],
    &[type="date"],
    &[type="datetime"],
    &[type="datetime-local"],
    &[type="month"],
    &[type="week"],
    &[type="email"],
    &[type="number"],
    &[type="search"],
    &[type="tel"],
    &[type="time"],
    &[type="url"],
    &[type="color"]
     {
        color:          $input-text-color;
        font-size:      $input-text-font-size;
        padding:        $input-text-padding;
        border-width:   $input-text-border-width;
        border-color:   $input-text-border-color;
        border-style:   $input-text-border-style;
        border-radius:  $input-text-border-radius;
        height:         $input-text-height;
    }

    &[type="radio"] {
        display: inline-block;
        width: 1.2rem;
        height: 1.2rem;
        vertical-align: middle;
        margin-right: 0.5rem;
        box-shadow: none;
    }

    &[type="checkbox"] {
        display: inline-block;
        width: 1rem;
        height: 1rem;
        vertical-align: middle;
        top: 0.1rem;
        position: relative;
        float: left;
        margin-right: 0.5rem;
    }

    &[disabled] {
        color:      $input-disabled-color;
        background: $input-disabled-background;
        border:     $input-disabled-border;
    }
    &[readonly] {
        cursor: pointer;
    }    
}

//_ VARIATIONS _________________________________________________________________________________________________________
