/*_ MODULES ____________________________________________________________________________________________________________
    
    pagination

    Show old-school pager for tables, etc. */

//_ CONFIGURATION ______________________________________________________________________________________________________

//  $pagination-background-color
//  $pagination-background-image
//  $pagination-border-top
//  $pagination-color

//  $pagination-page-active-background
//  $pagination-page-active-color-color
//  $pagination-page-active-weight


//_ DEFINITION _________________________________________________________________________________________________________

    .pagination {

        padding: 1rem;

        color: $pagination-color;
        background-color: $pagination-background-color;
        background-image: $pagination-background-image;
        border-top: 1px solid $pagination-border-top-color;
        
        &-page {

            display: inline-block;
            padding: 0.5rem 1rem;
            height: 2.5rem;

            &--active {
                color: $pagination-page-active-color;
                font-weight: $pagination-page-active-weight;
                background: $pagination-page-active-background;
            }
        }

        &-select {

        }
    }

//_ VARIATIONS _________________________________________________________________________________________________________

