/*_ MODULES ____________________________________________________________________________________________________________
    
    progress

    Progress bar */

//_ CONFIGURATION ______________________________________________________________________________________________________

    $progress-border:                                   1px solid rgba(0,0,0,0.1)                   !default;
    $progress-height:                                   2.5rem                                      !default;
    $progress-color:                                    #5fabf1                                     !default;
    $progress-background:                               #fff                                        !default;

//_ DEFINITION _________________________________________________________________________________________________________
  
    .progress {        
        background: $progress-background;
        border: $progress-border;
        padding: 1px;
        height: $progress-height;
        display: block;
        width: 100%;

        // IE10
        color: $progress-color;

        // Webkit
        &::-webkit-progress-bar {
            background: $progress-background;
        }
        &::-webkit-progress-value {            
            background: $progress-color;
        }

        // Firefox
        &::-moz-progress-bar {
            background: $progress-color;
        }          
    }


  


//_ VARIATIONS _________________________________________________________________________________________________________

