/*_ MODULE _____________________________________________________________________________________________________________
    
    Tab

    Tabbed navigation handling */

//_ CONFIGURATION ______________________________________________________________________________________________________

    $tab-item-padding:                          0.5rem                                  !default;
    $tab-item-border-bottom:                    1px solid rgba(0,0,0,0.1)               !default;
              
    $tab-item--active-border-style:             solid                                   !default;
    $tab-item--active-border-width:             4px                                     !default;
    $tab-item--active-border-color:             $color-primary                          !default;

//_ DEFINITION _________________________________________________________________________________________________________

    .tab {
        display: table;
        table-layout: fixed;
        width: 100%;

        &-item {
            display: table-cell;
            text-align: center;
            padding: $tab-item-padding;
            border-bottom: $tab-item-border-bottom;
            text-transform: uppercase;

            &--active {
                border-bottom-style: $tab-item--active-border-style;
                border-bottom-color: $tab-item--active-border-color;
                border-bottom-width: $tab-item--active-border-width;
                font-weight: 700;
            }
        }
    }

//_ VARIATIONS _________________________________________________________________________________________________________

/*  Variations descriptions */
