/*_ MODULES ____________________________________________________________________________________________________________
    
    optionGroup

    horizontal one option selector
    optionally radio button hack to show radio buttons as a group of options */

//_ CONFIGURATION ______________________________________________________________________________________________________


//    $optionGroup-background
//    $optionGroup-selected-background
//    $optionGroup-selected-color
//    $optionGroup-hover-background
//
//    $optionGroup-border-width
//    $optionGroup-border-color
//    $optionGroup-border-style
//
//    $optionGroup-radio-hack

//_ DEFINITION _________________________________________________________________________________________________________

    .optionGroup {

        display: flex;
        flex-wrap: wrap;


        &-content {
            display: block;
            cursor: pointer;
            padding: 0.5rem;
            vertical-align: middle;
            min-height: 3.5rem;
            user-select: none;

            border: $optionGroup-border-width $optionGroup-border-style $optionGroup-border-color;
            margin: 0 (-$optionGroup-border-width) (-$optionGroup-border-width) 0;
            background: $optionGroup-background;

            @extend %type-data;

            &:hover {
              background: $optionGroup-hover-background;
            }
        }

      &:first-child {
          margin-left: 0;
      }

      &--selected .optionGroup-content{
          background: $optionGroup-selected-background;
          color:      $optionGroup-selected-color;
      }



      @if ($optionGroup-radio-hack) {

          &-radio {
            opacity: 0;
            width: 1px;
            height: 1px;
            display: block;
            position: absolute;
          }

          input[type=radio]:checked + .optionGroup-content {
            background: $optionGroup-selected-background;
            color:      $optionGroup-selected-color;
          }
      }
    }

//_ VARIATIONS _________________________________________________________________________________________________________

/*  Variations descriptions */
