/*_ MODULES ____________________________________________________________________________________________________________
    
    optionGroup

    radio button hack to show radio buttons as a group of options */

//_ CONFIGURATION ______________________________________________________________________________________________________


//  $optionGroup-color
//  $optionGroup-color-hint
//  $optionGroup-color-hint-lighter

//  $optionGroup-border-width
//  $optionGroup-border-color


//_ DEFINITION _________________________________________________________________________________________________________

    .optionGroup {

        display: flex;
        flex-wrap: wrap;

        &-label {
            padding: 0.5rem;
            vertical-align: middle;
            min-height: 3.5rem;

            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            @extend %type-data;

            &:hover {
                background: $optionGroup-color-hint-lighter;
            }
        }

        &-radio {
            opacity: 0;
            width: 1px;
            height: 1px;
            display: block;
            position: absolute;
        }

        &-option {

            border: $optionGroup-border-width solid $optionGroup-border-color;
            margin: 0 (-$optionGroup-border-width) (-$optionGroup-border-width) 0;
            background: $optionGroup-color;

            &:first-child {
                margin-left: 0;
            }
        }

        .optionGroup-label {
            display: inline-block;
            cursor: pointer;
        }

        input[type=radio]:checked + .optionGroup-label{
            background: $optionGroup-color-hint;
            color: #FFF;
        }

    }

//_ VARIATIONS _________________________________________________________________________________________________________

/*  Variations descriptions */
