/*_ UNITS ______________________________________________________________________________________________________________

    Select

    Common select patterns */

//_ CONFIGURATION ______________________________________________________________________________________________________

    //    $select-font-size
    //    $select-color
    //    $select-padding
    //    $select-border-width
    //    $select-border-color
    //    $select-border-style
    //    $select-border-radius
    //    $select-height
    //    $select-background
    //    $select-focus-outline

    //    $select-disabled-color
    //    $select-disabled-background
    //    $select-disabled-border

//_ DEFINITION _________________________________________________________________________________________________________

.select {

    vertical-align: top;
    line-height:    normal;
    outline:        none;
    display:        inline-block;
    width:          100%;

    color:          $select-color;
    font-size:      $select-font-size;
    padding:        $select-padding;
    border-width:   $select-border-width;
    border-color:   $select-border-color;
    border-style:   $select-border-style;
    border-radius:  $select-border-radius;
    height:         $select-height;


    &:focus {
        outline:    $select-focus-outline;
        outline-offset: -1px;
    }

    &[readonly], &[disabled] {
      color:      $select-disabled-color;
      background: $select-disabled-background;
      border:     $select-disabled-border;
    }
}

//_ VARIATIONS _________________________________________________________________________________________________________

/*  select--full:   full width select */

    .select {
        &--full {
            display: block;
            width: 100%;
        }
    }