/*_ UNITS ______________________________________________________________________________________________________________

    Select

    Common select patterns */

//_ CONFIGURATION ______________________________________________________________________________________________________


//_ DEFINITION _________________________________________________________________________________________________________

.select {

    vertical-align: top;
    line-height:    normal;
    outline:        none;
    display:        inline-block;
    width:          100%;

    color:          $select-color;
    font-size:      $select-font-size;
    padding:        $select-padding;
    border-width:   $select-border-width;
    border-color:   $select-border-color;
    border-style:   $select-border-style;
    border-radius:  $select-border-radius;
    height:         $select-height;


    &:focus {
        outline:    $select-focus-outline;
        outline-offset: -1px;
    }

    &[readonly], &[disabled] {
      color: #CCC;
      background: #fcfcfc !important;
      border: 1px solid #eee !important;
    }
}

//_ VARIATIONS _________________________________________________________________________________________________________

/*  select--full:   full width select */

    .select {
        &--full {
            display: block;
            width: 100%;
        }
    }