/*_ UNITS ______________________________________________________________________

    alert

    inline notification

*/

//_ CONFIGURATION ______________________________________________________________

//_ DEFINITION _________________________________________________________________

    .alert {
        display: table;
        background: #FFF;
        width: 100%;
        box-shadow: $alert-shadow;

        &-icon {
            display: table-cell;
            width: 3.5rem;
            vertical-align: middle;
            padding: $alert-padding;
            text-align: center;
            color: #FFF;
        }
        &-message {
            display: table-cell;
            vertical-align: middle;
            padding: $alert-padding;
            color: $alert-color;
        }

        &--success &-icon {        
            background: $alert--success-background;
        }
        &--warning &-icon {            
            background: $alert--warning-background;
        }
        &--error &-icon {
            background: $alert--error-background;
        }
        &--info &-icon {
            background: $alert--info-background;
        }
    }

//_ VARIATIONS _________________________________________________________________
