/*_ UNITS ______________________________________________________________________

    alert

    inline notification

*/

//_ CONFIGURATION ______________________________________________________________

//  $alert-padding
//  $alert-border
//  $alert-color

//_ DEFINITION _________________________________________________________________

    .alert {
        display: block;
        padding: $alert-padding;
        border: $alert-border;

        &--success {
            color: $alert--success-color;
            background: $color--success-background;
        }

        &--warning {
            color: $alert--warning-color;
            background: $color--warning-background;
        }

        &--error {
            color: $alert--error-color;
            background: $color--error-background;
        }
    }

//_ VARIATIONS _________________________________________________________________
