/*_ UNITS ______________________________________________________________________

    alert

    icon notification, easy to combine with icon fonts

*/

//_ CONFIGURATION ______________________________________________________________

    $alert-padding:                      1rem                          !default;
    $alert-border:                       1px solid $color-thin-shadow  !default;
    $alert-shadow:                       0 1px 1px 0px rgba(0,0,0,0.1) !default;
    $alert-color:                        $type-color-primary           !default;

    $alert--success-background:          $color-success                !default;
    $alert--warning-background:          $color-warning                !default;  
    $alert--error-background:            $color-error                  !default;
    $alert--info-background:             $color-info                   !default;

//_ DEFINITION _________________________________________________________________

    .alert {
        display: table;
        background: #FFF;
        width: 100%;
        box-shadow: $alert-shadow;

        &-icon {
            display: table-cell;
            width: 3.5rem;
            vertical-align: middle;
            padding: $alert-padding;
            text-align: center;
            color: #FFF;
        }
        &-message {
            display: table-cell;
            vertical-align: middle;
            padding: $alert-padding;
            color: $alert-color;
        }

        &--success &-icon {        
            background: $alert--success-background;
        }
        &--warning &-icon {            
            background: $alert--warning-background;
        }
        &--error &-icon {
            background: $alert--error-background;
        }
        &--info &-icon {
            background: $alert--info-background;
        }
    }

//_ VARIATIONS _________________________________________________________________
