/*_ MODULES ____________________________________________________________________________________________________________
    
    switch

    button with switch behaviour */

//_ CONFIGURATION ______________________________________________________________________________________________________

//    $switch-background
//    $switch-border
//    $switch-border-radius
//
//    $switch-active-background
//    $switch-active-border


//_ DEFINITION _________________________________________________________________________________________________________

    .switch {

        padding: 0.1rem;
        border: 0;
        width: 3rem;
        text-align: left;
        outline: none;
        box-shadow: inset 0 1px 1px -1px rgba(0,0,0,0.2);

        border-radius: $switch-border-radius;
        background:    $switch-background;
        border:        $switch-border;

        &--on {
            text-align: right;
            background: $switch-active-background;
            border:     $switch-active-border;
        }

        &-handle {
            display: block;
            width: 1.4rem;
            height: 1.4rem;
            border-radius: $switch-border-radius;
            text-align: center;
            padding: 0.2rem;   
            background:#FFF;
            color: #666;
        }

    }

//_ VARIATIONS _________________________________________________________________________________________________________

/*  Variations descriptions */
