/*_ MODULES ____________________________________________________________________________________________________________
    
    icon

    Makes any image behave like an inline icon adjusted to text size */

//_ CONFIGURATION ______________________________________________________________________________________________________

//  property                                    value                                   !default;


//_ DEFINITION _________________________________________________________________________________________________________

    .icon {
        display: inline-block;
        max-width: 1rem;
        vertical-align: middle;
        top: -0.1rem;
        position: relative;
    }

//_ VARIATIONS _________________________________________________________________________________________________________

/*  Variations descriptions */


