/*_ UNITS ______________________________________________________________________________________________________________
    
    OffCanvas

    Mobile first offcanvas navigation with fixed containers, menu and toggle
    button */

//_ CONFIGURATION ______________________________________________________________________________________________________
   
    $offcanvas-offset:                          15.4rem                                   !default;
    $offcanvas-transition:                      300ms all ease-out                      !default;
                 
    $offcanvas-menu-background-color:           $color-primary-darker                   !default;
                 
    $offcanvas-menu-item-color:                 #FFF                                    !default;
    $offcanvas-menu-item-text-decoration:       none                                    !default;
    $offcanvas-menu-item-padding:               1rem                                    !default;
    $offcanvas-menu-item-box-shadow:            0 1px 0 0               
                                                rgba(255,255,255,0.2)                   !default;
                 
    $offcanvas-content-padding:                 0.5rem                                  !default;
    $offcanvas-content-background-color:        #232323                                 !default;
    $offcanvas-content-box-shadow:              -10px -5px 50px -20px               
                                                rgba(0, 0, 0, 0.4)                      !default;
                 
    $offcanvas-topbar-background-color:         $color-primary-dark                     !default;
    $offcanvas-topbar-color:                    #FFF                                    !default;
    $offcanvas-topbar-border-radius:            0                                       !default;
    $offcanvas-topbar-min-height:               3rem                                    !default;
    $offcanvas-topbar-padding:                  1rem                                    !default;
    $offcanvas-topbar-fullwidth:                true                                    !default;

//_ DEFINITION _________________________________________________________________________________________________________

    .offcanvas-menu {
        width: $offcanvas-offset;
        height: 100%;
        position: fixed;
        top:0;
        left: 0;
        z-index: 0;
        background-color: $offcanvas-menu-background-color;
        -webkit-animation: offcanvasMenuHide 0.3s forwards ease-in;
    }

    .offcanvas-menu-item {
        color: $offcanvas-menu-item-color;
        padding: $offcanvas-menu-item-padding;
        text-decoration: $offcanvas-menu-item-text-decoration;
        box-shadow: $offcanvas-menu-item-box-shadow;
    }

    .offcanvas-menu--show {
        -webkit-animation: offcanvasMenuShow 0.3s forwards ease-out;
    }

    .offcanvas-content {
        position: absolute;
        width:  100%;
        height: 100%;
        overflow: hidden;
        z-index: 1;
        transition: $offcanvas-transition;
        box-shadow: $offcanvas-content-box-shadow;
        top: $offcanvas-topbar-min-height;
        padding: $offcanvas-content-padding;
        -webkit-perspective: 100px;
        transition: all 0.3s ease-out;
    }

    .offcanvas-content--show {
        transform: translateX($offcanvas-offset);

        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width:  100vw;
            height: 100vh;
            z-index: 1;
            background-color: rgba(0, 0, 0, 0.2);
        }
    } 

    .offcanvas-topbar {
        position: fixed;
        top: 0;
        z-index: 2;
        transition: $offcanvas-transition;
        color: $offcanvas-topbar-color;
        background-color: $offcanvas-topbar-background-color;
        border-radius: $offcanvas-topbar-border-radius;
        min-height: $offcanvas-topbar-min-height;
        padding: $offcanvas-topbar-padding;
        transition: all 0.3s ease-out;

        @if($offcanvas-topbar-fullwidth) {
            width: 100%;    
        }
    }

    .offcanvas-topbar-item {
        vertical-align: middle;
        line-height: $offcanvas-topbar-min-height;
    }

    .offcanvas-topbar--show {
        transform: translateX($offcanvas-offset);
    }

    @-webkit-keyframes offcanvasMenuShow {
        from {
            transform: translateX(-$offcanvas-offset);
        }
        to {
            transform: translateX(0);
        }
    }

    @-webkit-keyframes offcanvasMenuHide {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-$offcanvas-offset);
        }
    }

//_ VARIATIONS _________________________________________________________________________________________________________
