/*_ MODULES ____________________________________________________________________________________________________________

    badges

    Decorations for important messages */

//_ CONFIGURATION ______________________________________________________________________________________________________

//  $badges-boder-radius
//  $badges-background
//  $badges-margin-right
//  $badges-padding
//  $badges-color

//_ DEFINITION _________________________________________________________________________________________________________

//#TODO abstract this

    .badges {
        display: inline-block;

        font-size: $badges-font-size;
        border-radius: $badges-boder-radius;
        background: $badges-background;
        padding: $badges-padding;
        color: $badges-color;
        color: green;
    }

//_ VARIATIONS _________________________________________________________________________________________________________
