//_ TYPE _______________________________________________________________________________________________________________

//  Typographic system with common type hierarchy


//_ CONFIGURATION ______________________________________________________________________________________________________

    $type-family-primary:                       "sans-serif"                            !default;
    $type-family-secondary:                     "serif"                                 !default;

    $type-display2-size:                        2.8rem                                  !default;
    $type-display1-size:                        1.999rem                                !default;
    $type-title-size:                           1.3rem                                  !default;
    $type-subtitle-size:                        1.2rem                                  !default;
    $type-body-size:                            1rem                                    !default;
    $type-ui-size:                              0.9rem                                  !default;
    $type-data-size:                            0.75rem                                 !default;

    $type-headline-size:                        1.5rem                                  !default;
    $type-subheadline-size:                     1.23rem                                 !default;

    $type-paragraph-lineheight:                 1.414rem                                !default;

    $type-color-primary:                        #232323                                 !default;
    $type-color-secondary:                      #6b6f7e                                 !default;
    $type-color-inverse:                        rgba(255,255,255,0.87)                  !default;

    $type-highlight-color:                      $color-primary                          !default;


//_ DEFINITION _________________________________________________________________________________________________________

    .type-display2 {
        font-size: $type-display2-size;
        color: $type-color-primary;
    }

    %type-display1,
    .type-display1 {
        font-size: $type-display1-size;
        color: $type-color-primary;
    }

    %type-subheadline,
    .type-subheadline {
        font-family: $type-family-secondary;
        font-size: $type-subheadline-size;
        color: $color-primary-contrast;
        line-height: 1.2;
    }

    %type-headline,
    .type-headline {
        font-family: $type-family-secondary;
        font-size: $type-headline-size;
        color: $color-primary-contrast;
        line-height: 1;
    }

    %type-title, .type-title {
        font-size: $type-title-size;
        color: $type-color-secondary;
    }

    %type-subtitle, .type-subtitle {
        font-size: $type-subtitle-size;
        color: $type-color-secondary;
    }

    %type-body, .type-body {
        font-family: $type-family-primary;
        font-size: $type-body-size;
        color: $type-color-secondary;
    }

    %type-data, .type-data {
        font-family: $type-family-primary;
        font-size: $type-data-size;
        color: $type-color-secondary;
    }

    %type-ui, .type-ui {
        font-family: $type-family-primary;
        font-size: $type-ui-size;
        color: $type-color-secondary;
        text-transform: uppercase;
        font-weight: bold;
    }

    %type-highlight, .type-highlight {
        color: $type-highlight-color;
    }

    .u-tsh {
        text-shadow: 1px 1px 2px $type-color-secondary;
    }

    .u-c\[inverse\] {
        color: $type-color-inverse;
    }

    .u-c\[highlight\] {
        color: $color-primary;
    }

    body {
        font-family: $type-family-primary;
        color: $type-color-primary;
    }

    p {
        line-height: $type-paragraph-lineheight;
        color: $type-color-secondary;
    }


//_ VARIATIONS _________________________________________________________________________________________________________
