/*_ UNITS ______________________________________________________________________________________________________________
    
    Label

    Common label patterns */

//_ CONFIGURATION ______________________________________________________________________________________________________

    $label-padding:                             0                                       !default;
    $label-border-width:                        0                                       !default;
    $label-border-color:                        0                                       !default;
    $label-border-style:                        none                                    !default;

//_ DEFINITION _________________________________________________________________________________________________________

.label {

    border: 0;
    padding: $label-padding;
    border-width: $label-border-width;
    border-color: $label-border-color;
    border-style: $label-border-style;

}

//_ VARIATIONS _________________________________________________________________________________________________________

/*  Variations descriptions */