/*_ UNITS ______________________________________________________________________________________________________________
    
    OffCanvas

    Mobile first offcanvas navigation with fixed containers, menu and toggle
    button */

//_ CONFIGURATION ______________________________________________________________________________________________________
   
    // $offcanvas-offset
    // $offcanvas-transition
                 
    // $offcanvas-menu-background-color
                 
    // $offcanvas-menu-item-color
    // $offcanvas-menu-item-text-decoration
    // $offcanvas-menu-item-padding
    // $offcanvas-menu-item-box-shadow
                 
    // $offcanvas-content-padding
    // $offcanvas-content-background-color
    // $offcanvas-content-box-shadow
                 
    // $offcanvas-topbar-background-color
    // $offcanvas-topbar-color
    // $offcanvas-topbar-border-radius
    // $offcanvas-topbar-min-height
    // $offcanvas-topbar-padding
    // $offcanvas-topbar-fullwidth

//_ DEFINITION _________________________________________________________________________________________________________

    .offcanvas-menu {
        width: $offcanvas-offset;
        height: 100%;
        position: fixed;
        top:0;
        left: 0;
        z-index: 0;
        background-color: $offcanvas-menu-background-color;
        -webkit-animation: offcanvasMenuHide 0.3s forwards ease-in;
    }

    .offcanvas-menu-item {
        color: $offcanvas-menu-item-color;
        padding: $offcanvas-menu-item-padding;
        text-decoration: $offcanvas-menu-item-text-decoration;
        box-shadow: $offcanvas-menu-item-box-shadow;
    }

    .offcanvas-menu--show {
        -webkit-animation: offcanvasMenuShow 0.3s forwards ease-out;
    }

    .offcanvas-content {
        position: absolute;
        width:  100%;
        height: 100%;
        overflow: hidden;
        z-index: 1;
        transition: $offcanvas-transition;
        box-shadow: $offcanvas-content-box-shadow;
        top: $offcanvas-topbar-min-height;
        padding: $offcanvas-content-padding;
        -webkit-perspective: 100px;
        transition: all 0.3s ease-out;
    }

    .offcanvas-content--show {
        transform: translateX($offcanvas-offset);

        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width:  100vw;
            height: 100vh;
            z-index: 1;
            background-color: rgba(0, 0, 0, 0.2);
        }
    } 

    .offcanvas-topbar {
        position: fixed;
        top: 0;
        z-index: 2;
        transition: $offcanvas-transition;
        color: $offcanvas-topbar-color;
        background-color: $offcanvas-topbar-background-color;
        border-radius: $offcanvas-topbar-border-radius;
        min-height: $offcanvas-topbar-min-height;
        padding: $offcanvas-topbar-padding;
        transition: all 0.3s ease-out;

        @if($offcanvas-topbar-fullwidth) {
            width: 100%;    
        }
    }

    .offcanvas-topbar-item {
        vertical-align: middle;
        line-height: $offcanvas-topbar-min-height;
    }

    .offcanvas-topbar--show {
        transform: translateX($offcanvas-offset);
    }

    @-webkit-keyframes offcanvasMenuShow {
        from {
            transform: translateX(-$offcanvas-offset);
        }
        to {
            transform: translateX(0);
        }
    }

    @-webkit-keyframes offcanvasMenuHide {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-$offcanvas-offset);
        }
    }

//_ VARIATIONS _________________________________________________________________________________________________________
