//  Alert

    $alert-padding:                             1rem;
    $alert-border:                              1px solid $color-thin-shadow;
    $alert-color:                               $color-primary;

    $alert--success-color:                      $type-color-primary;
    $color--success-background:                 $color-success;

    $alert--warning-color:                      $type-color-primary;
    $color--warning-background:                 $color-warning;

    $alert--error-color:                        $type-color-primary;
    $color--error-background:                   $color-error;
