//  Defaults

    $body-background-color:                     #f9f9f9;

    $color-primary:                             #f9d606;
    $color-primary-dark:                        #f4d100;
    $color-primary-darker:                      #5E5000;

    $color-primary-contrast:                    #262b38;

    $color-secondary:                           #854785;

    $color-success:                             rgba(0,128,0,0.9);
    $color-warning:                             #fc0;
    $color-error:                               rgba(255, 77, 0, 0.92);

    $color-hint:                                #5fabf1;
    $color-hint-light:                          rgba(95, 171, 241, 0.5);
    $color-hint-lighter:                        rgba(95, 171, 241, 0.1);

    $color-primary-light:                       lighten($color-primary, 10);
    $color-primary-lighter:                     lighten($color-primary, 20);




    $color-thin-shadow:                         rgba(0,0,0,0.1);
    $border-radius:                             2px;
