//  Form

    $form-label-optional-color:                 $type-color-thirdary;
    $form-label-optional-font-style:            italic;
    $form-label-optional-font-weight:           bold;
    $form-label-optional-margin:                0 0 0 0.5rem;

    $form-section-background:                   #f0f0f0;
    $form-section-border-radius:                2px;
    $form-section-border:                       1px solid #e0e0e0;