//  Label

    $config-mark-optional-labels:               true;

    $label-padding:                             0.6rem 0;
    $label-border-width:                        0;
    $label-border-color:                        transparent;
    $label-border-style:                        none;