/*_ MODULES ____________________________________________________________________________________________________________
    
    tooltip

    moduleDescription */

//_ CONFIGURATION ______________________________________________________________________________________________________

//
//    $tooltip-background
//    $tooltip-color
//    $tooltip-box-shadow
//    $tooltip-padding
//    $tooltip-border-radius

//_ DEFINITION _________________________________________________________________________________________________________

    .tooltip {
        position: absolute;
        bottom: 2rem;
        left: -0.9rem;
        z-index: 1000;
        max-width: 35rem;
        min-width: 20rem;

        @extend %type-data;

        font-weight: normal;
        text-transform: none;

        color:          $tooltip-color;
        background:     $tooltip-background;
        border-radius:  $tooltip-border-radius;
        padding:        $tooltip-padding;
        box-shadow:     $tooltip-box-shadow;

        &:before {
            content: "";
            display: block;
            width: 1rem;
            transform: rotateZ(45deg);
            z-index: 999;
            height: 1rem;
            position: absolute;
            bottom: -0.1rem;
            left: 1rem;
            background: $tooltip-background;
        }
    }